* {
    background-color: blue;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    display: flex;
    align-items: center;
    background-color: rgb(74, 192, 80);
    height: 7.6vh;
    font-size: 20px;
}

.search-bar{
    display: flex;
    margin-left: 900px;
    padding-left: 100px;
}
#search-input{
    display: flex;
    margin-right: -1;
}

.nav-row {
    justify-content: left;
}